.sky{
    background-color: aquamarine;
}

.pink{
background-color: deeppink;
}

.pink-secendery{
    background-color: pink;
}

.green{
    background-color: greenyellow;
}

.orange{
    background-color: orange;
}